#fundo {
	background-color: #708090;
}

#tamanho input{
	width: 75px;
	height: 80px;
	font-size: 30px;
}

#c{
	padding-left: 600px;
}

#cd:hover{
	font-size: 40px;
	transition-duration: 0.3s;
}

#cd:active{
	font-size: 25px;
	transition-duration: 0.05s;
}

#div:hover{
	font-size: 40px;
	transition-duration: 0.3s;
}

#div:active{
	font-size: 25px;
	transition-duration: 0.05s;
}

#por:hover{
	font-size: 40px;
	transition-duration: 0.3s;
}

#por:active{
	font-size: 25px;
	transition-duration: 0.05s;
}

#sete{
	padding-left: 600px;	
}

#quatro{
	padding-left: 600px;	
}

#um{
	padding-left: 600px;	
}

#zero{
	position: absolute;
	top: 645px;
	left: 609px;
}

#virgula{
	position: absolute; 
	top: 645px;
	left: 768px;
}

#igual{
	position: absolute;
	top: 561px;
	left: 846px;

}

#igualinput{
	border-top-color: #FFA500;
	border-left-color: #FFA500; 	
	background-color: #FF8C00;
	color: white;
}

#igualinput:hover{
	font-size: 40px;
	transition-duration: 0.3s;
}

#igualinput:active{
	border-top-color: #FFA500;
	border-left-color: #FFA500; 
	border-bottom-color: #FF8C00;
	border-right-color: #FF8C00;
	font-size: 25px; 
	transition-duration: 0.05s;
}

#x{
	border-top-color: #FFA500;
	border-left-color: #FFA500; 	
	background-color: #FF8C00;
	color: white;
}

#x:hover{
	font-size: 35px;
	transition-duration: 0.3s;
}

#x:active{
	border-bottom-color: #FF8C00;
	border-right-color: #FF8C00;
	font-size: 20px; 
	transition-duration: 0.05s;
}

#menos{
	border-top-color: #FFA500;
	border-left-color: #FFA500; 	
	background-color: #FF8C00;
	color: white;
}

#menos:hover{
	font-size: 45px;
	transition-duration: 0.3s;
}

#menos:active{
	border-bottom-color: #FF8C00;
	border-right-color: #FF8C00; 
	font-size: 25px;
	transition-duration: 0.05s;
}

#mais{
	border-top-color: #FFA500;
	border-left-color: #FFA500; 	
	background-color: #FF8C00;
	color: white;
}

#mais:hover{
	font-size: 43px;
	transition-duration: 0.3s;
}

#mais:active{
	border-bottom-color: #FF8C00;
	border-right-color: #FF8C00; 
	font-size: 25px;
	transition-duration: 0.05s;
}

#hov:hover{
	font-size: 40px;
	transition-duration: 0.3s;
}

#hov:active{
	transition-duration: 0.05s;
	font-size: 25px;
}

#apagar{
	
}
